# Import modules

In [1]:
import pandas as pd
import sqlalchemy as db
import os
from dotenv import load_dotenv

# Read each file

In [2]:
for file in os.listdir(os.getcwd()+'/dataset'):
    print(f'{file}')

Harry Potter 1.csv
Harry Potter 2.csv
Harry Potter 3.csv
Potions.csv
Spells.csv

In [39]:
list_df = []
for file in os.listdir(os.getcwd()+'/dataset'):
    df = pd.read_csv('dataset/'+file, sep=';', encoding = 'cp1252')
    df.name = file.split('.')[0]
    list_df.append(df)

In [19]:
for df in list_df:
    display(df.name)

'Harry Potter 1'

'Harry Potter 2'

'Harry Potter 3'

'Potions'

'Spells'

In [21]:
for df in list_df:
    display(df.sample(5))

       Character                                           Sentence
185        Harry                                          Blown up?
553         Girl                                   Who's that girl?
16    Dumbledore  Albus, do you really think it's safe, leaving ...
571   McGonagall                                Then perhaps a map?
506  Sorting Hat                          Plenty of courage, I see.

         Character                                  Sentence
643     MCGONAGALL       Could I have your attention,please?
106  UNCLE VERNON   Youre never going back to that school.
180  MRS. WEASLEY     Well, thatll be Errol with the post.
512          HARRY               Let's take him to Hagrid's.
60           HARRY                              Your family?

       CHARACTER                                 SENTENCE
14    AUNT MARGE  Don't say 'yes' in that ungrateful way.
651        SNAPE       Any theories on how he managed it?
753        HARRY                     What are you doing?!
1257         RON                      What are you doing?
614        GINNY                The Fat Lady! She's gone!

,Name,Known ingredients,Effect,Characteristics,Difficulty level
51,Murtlap Essence,Murtlap tentacles,Soothes and heals cuts and abrasions,Blue in colour,NaN
58,Skele-Gro,"1 Chinese Chomping Cabbage, 3 Puffer-fish, 5 S...",Restores bones,"Smokes when poured, Vile taste, Burns on the w...",Above second year
55,Regeneration potion,"Bone of the father, Flesh of a servant, Blood ...",Helps restore non-corporeal wizards to their b...,NaN,Advanced
28,Emerald Potion,"Emerald green in colour, Glows phosphorescently","Induces fear, delirium, intense stomach pain a...",NaN,NaN
25,Draught of Living Death,"Standard potioning water, Powdered Root of Asp...","Causes the drinker to fall into a deep, death-...",Turns pale lilac colour then clear,Advanced

                Name   Incantation   Type                     Effect    Light
92   Disarming Charm  Expelliarmus  Charm        Disarms an opponent  Scarlet
296        Waddiwasi     Waddiwasi   Jinx  Propels wad at the target     None
120   Freezing Spell       Glacius  Charm             Freezes target     Blue
142      Illegibilus   Illegibilus  Charm       Makes text illegible      NaN
277     Tickling Hex    Titillando    Hex        Tickles and weakens   Purple

In [31]:
df_hp3 = list_df[2]
df_hp3.head(10)

      CHARACTER                                     SENTENCE
0         HARRY                              Lumos Maxima...
1         HARRY                              Lumos Maxima...
2         HARRY                              Lumos Maxima...
3         HARRY                             Lumos... MAXIMA!
4  AUNT PETUNIA                                Harry! Harry!
5  AUNT PETUNIA                       Harry!! Open the door.
6  AUNT PETUNIA                    Marge! How lovely to see…
7         HARRY  Uncle Vernon. I need you to sign this form.
8  UNCLE VERNON                                  What is it?
9         HARRY                        Nothing. School stuff

In [30]:
df_hp2 = list_df[1]
df_hp2.head(10)

      Character                                           Sentence
0        HARRY                       I can’t let you out, Hedwig.
1        HARRY    I’m not allowed to use magic outside of school.
2        HARRY                           Besides, if Uncle Vernon…
3        VERNON                                      Harry Potter!
4         HARRY                                Now you’ve done it.
5       PETUNIA                           He’s in there. Vernon...
6  UNCLE VERNON  I’m warning you, if you can’t control that blo...
7         HARRY                                  But she’s bored!
8         HARRY         If I could only let out for an hour or two
9        VERNON  Huh, huh! So you could send secret messages to...

# Cleaning Data

### Make character name in Harry Potter 1 dataset uppercase

In [41]:
list_df[0].Character = list_df[0].Character.map(lambda x: x.upper())
list_df[0].sample(10)

      Character                                        Sentence
99      PETUNIA         You're going to go to the state school.
1099    NEVILLE                    What about the countercurse?
578       SNAPE                                     Mr. Potter.
1028    HARRY                     Ron! You've got to see this!
36        HARRY                              Yes, Aunt Petunia.
332      HAGRID                                Nobody, not one.
367       HARRY                                        Muggles?
329      HAGRID      Anyone that stood up to him ended up dead.
677         RON  But first years never make their house teams!
723   HERMIONE              Standard book of spells, Chapter 7.

### Rename the column name in Harry Potter 3 dataset

In [44]:
list_df[2].columns = list(map(str.title, list_df[2].columns))
list_df[2].columns

Index(['Character', 'Sentence'], dtype='object')

### Check all dataframes

In [45]:
for df in list_df:
    display(df.sample(5))

         Character                                           Sentence
686       GEORGE                               Rough game, Quidditch.
1296  MCGONAGALL    He received an urgent owl from the Ministry of...
84         PETUNIA                        It's all right, sweetheart.
1402         RON    If Snape can catch it on that old broomstick, ...
1380       HARRY                                                Okay.

       Character                                Sentence
571        HARRY  I heard it first in Lockhart's office.
733   LEE JORDAN     Harry Potter has caught the Snitch.
96        HARRY                       Dobby, please, no!
1519  TOM RIDDLE    And then who should find it but you?
560        VOICE                          I smell blood.

     Character                                           Sentence
1288    SIRIUS  Normally, I have a very sweet disposition as a...
776      HARRY                   Brilliant! Where did you get it?
1232     LUPIN                          He was at school with us.
1608     LUPIN  If I am proud of anything it is of how much yo...
988      HARRY                 My dad didn't strut. And nor do I.

,Name,Known ingredients,Effect,Characteristics,Difficulty level
52,Pepperup Potion,"Bicorn horn, Mandrake root","Warms up the recipient and cures common cold, ...",NaN,NaN
37,Forgetfulness Potion,"2 drops of Lethe River Water, 2 Valerian sprig...",Memory loss,Orange in colour,Beginner
23,Doxycide,"Bundimun Ooze, Streeler shells, Dragon liver, ...",Temporarily stuns Doxies so that the pests can...,"Black in colour, Typically delivered as a spray",NaN
19,Cure for Boils,"Dried nettles, 6 snake fangs, 4 horned slugs, ...",Removes boils,"Blue, Emits pink smoke",Beginner
35,Fergus Fungal Budge,"Onion juice, Jewelweed, Neem oil","Treats ringworm, fungicide, Potential negative...",NaN,NaN

,Name,Incantation,Type,Effect,Light
197,Pack,Pack,Charm,Packs luggage,None
100,Fidelius Charm,Unknown,Charm,Conceals a secret,NaN
154,Informous Spell,Informous,Charm,Adds to the Folio Bruti,Blue
279,Transmogrifian Torture,Unknown,Curse,"Tortures, possibly by transfiguring the target...",NaN
12,Revealing Charm,Aparecium,Charm,Reveals hidden writing,NaN

# Upload to Database

In [2]:
load_dotenv()

True

In [46]:
db_uri = os.getenv('SQLALCHEMY_DATABASE_URI')
engine = db.create_engine(db_uri, encoding='cp1252')
conn = engine.connect()

In [48]:
for df in list_df:
    df.to_sql(df.name, conn, if_exists='replace')

In [51]:
meta = db.MetaData(engine)

In [55]:
meta.reflect(engine)

In [58]:
db.Table('Spells', meta, autoload=True, autoload_with=engine).columns.keys()

['index', 'Name', 'Incantation', 'Type', 'Effect', 'Light']